<div>
    <h1>
        Log In
    </h1>
    <input type="text" class="email" id="email">
    <input type="text" class="password" id="password">
    <button class="login-btn">Log In</button>
    <button class="signup-btn">Sign Up</button> 
</div>