<div>
    <h1>
        Log In or Create an Account
    </h1>
    <label>Email</label>
    <input type="text" class="email" id="email-login" placeholder="Email Address">
    <label>Password</label>
    <input type="text" class="password" id="password-login" placeholder="Password">
    <button class="login-form">Log In</button>
    <button class="signup-form">Sign Up</button> 
</div>