<label> Post Title </label>
<input type="text" id="title" placeholder="Post Title">
<label> Post Content </label>
<input type="text" id="content" placeholder="Post Content">
<button id="submit"> Post </button>

<script src="../js/postSubmission.js"></script>